*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(70, 70, 70);
  height: 1200px;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10px;
  overflow: hidden;
  background-color: rgba(70, 70, 70);
  /* position: fixed; */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.subtitulo{
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  margin: 50px;
}



.logo{
  margin-right: auto;
  color: #fff;
}

.navegacao{
  list-style: none;
  
}

.itens_nav {
  display: inline-block;
  padding: 0 20px;
  
}
.itens_nav a{
  transition:  all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;

}
.itens_nav a:hover{
  color: #0088a9;
  
}

.cta button{
  margin-left: 20px;
  color: #fff;
  background-color: #0088a9;
  border-radius: 50px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: capitalize;
  transition:  all 0.3s ease 0s;
}

.cta button:hover{
  transition: 0.3s ease 0s;
  color: #0088a9;
  background-color: rgb(255, 255, 255);
  transform: translateY(-10px);
}

/* Home */

.home{
  background-color: #0088a9;
  height: 600px;
  display: grid;
  padding: 0 40px;
  grid-column: 1fr;
  align-content: center;
  text-align: center;
}

.home h1{
  color: #fff;
}

.home h1::after{
    height: 3px;
    width: 100px;
    display: block;
    content: '';
    background: #fff;
    margin: 10px auto;
}

.btn_vermais button{
  background-color: #fff;
  border: none;
  border-radius: 50%;
  color: #0088a9;
  padding: 10px 15px;
  cursor: pointer;
  position: relative; 
  top: 280px;
  font-size: 1.2rem;
  
}

.btn_vermais:hover{
  transition: 0.3s ease 0s;
  color: #0088a9;
  transform: translateY(-15px);
}

 /* serviços */

.servicos-container{
  padding: 60px 50px;
}

/* UL */
.servicos-itens{ 
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}


.servicos-itens li{
  background-color: #0088a9;
}

.servicos-itens li > img{
  background-color: rgb(50, 50, 70);
  padding: 15px 10px;
}

.servicos-itens > h3, p{
  padding: 40px;
}

.servicos-itens h3{
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
  color: #fff;
}

.servicos-itens p{
  color: #fff;
  letter-spacing: 0.5;
  max-width: 100%;
  text-align: center;
  
}